/* country selectors */
.country-selectors {
    padding-left: 1.25rem;
    padding-block: 1.25rem;
}

.country-selectors-selector {
    background-color: #f3f3f3;
    border: none;
    font-size: 0.75rem;
    line-height: 1;
    padding-block: 0.25rem;
    padding-inline: 0.4375rem;
    margin: 0.3125rem;
}
