/* footer */
.footer {
    background-color: #000000;
}

.footer-info {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 1rem;
    padding-inline: 1.875rem;
    padding-bottom: 1.875rem;
    max-width: 80rem;
    margin-inline: auto;

    @media (min-width: 768px) {
        flex-direction: row;
        padding-top: 4.75rem;
        gap: 2rem;
    }
}

.footer-header {
    margin-bottom: 1.875rem;
}

.contact {
    flex: 1 0 auto;
    font-style: normal;
}

.contact-link {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.25;
    font-style: normal;
    display: flex;
    gap: 0.4375rem;
}

.contact-link:hover {
    color: #dedede;
}

.contact-address {
    font-size: 0.9375rem;
    line-height: 1.266rem;
    color: #ffffff;
    font-style: normal;
}

.info-link {
    font-size: 1rem;
    line-height: 2.375;
    color: #dedede;
}
