/* mailing section */
.mailing {
    background-color: #37a623;
    color: #ffffff;
    text-align: center;
}

.mailing-submit-button {
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
}