/* more info button component */
.more-info-button {
    font-size: 1rem;
    line-height: 2.125;
    text-transform: uppercase;
    background-image: url("hp-images/category-images/arrow-category.svg");
    background-repeat: no-repeat;
    background-position: right;
    max-width: max-content;
    display: block;
    padding-right: 0.9325rem;
    margin-inline: auto;
    margin-block: 0.625rem;
}
