/* promo carousel (top of the page) */
.promo-carousel {
    background-color: #f3f3f3;
}

.promo-carousel .splide__slide {
    background-size: cover;
    width: 100%;
    height: 555px;
}
.promo-slide1 {
    background-image: url("hp-images/promo-sliders/maarten-duineveld-pmfJcN7RGiw-unsplash-sh.png");
    background-position: 52% 28%;
}

.promo-slide2 {
    background-image: url("hp-images/promo-sliders/maarten-duineveld-pmfJcN7RGiw-unsplash-sh.png");
    background-position: 70% 28%;
}

.promo-slide3 {
    background-image: url("hp-images/promo-sliders/maarten-duineveld-pmfJcN7RGiw-unsplash-sh.png");
    background-position: 100% 28%;
}

.promo-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
    min-height: 555px;
    padding-block: 2.9rem;
}

.promo-text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #ffffff;
    text-align: center;
    text-shadow: #00000063 0 3px 13px;
    padding-inline: 1.625rem;
}

.promo-button {
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 1rem;
    color: #ffffff;
    border: none;
    text-align: center;
    text-transform: uppercase;
    background-color: #37a623;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    min-width: 15rem;
}

.promo-carousel .splide__arrow {
    background-image: url("hp-images/promo-sliders/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 28px;
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    &.splide__arrow--prev {
        background-image: url("hp-images/promo-sliders/arrow-left.svg");
    }
}

.promo-carousel .splide__arrow svg {
    display: none;
}

.promo-carousel .splide__pagination {
    counter-reset: pagination-num;
    position: static;
    gap: 1.625rem;
    padding-top: 1.125rem;
}

.promo-carousel .splide__pagination__page {
    background: transparent;
}

.promo-carousel .splide__pagination__page::before {
    counter-increment: pagination-num;
    content: counter(pagination-num, decimal-leading-zero);
    font-weight: 400;
    line-height: 1.25rem;
    color: #b1b1b1;
}

.promo-carousel .splide__pagination__page.is-active {
    transform: none;
    background: transparent;
}

.promo-carousel .splide__pagination__page.is-active::before {
    font-weight: 700;
    color: #37a623;
}
