// styles
@import "normalize.css";
@import "splide.min.css";
@import "navbar";
@import "category-menu";
@import "promo-carousel";
@import "mobile-menu";
@import "country-selectors";
@import "middle-page-menu";
@import "marketing-text";
@import "product-badges";
@import "hot-tips";
@import "brands";
@import "more-info-component";
@import "articles";
@import "mailing";
@import "benefits";
@import "footer";

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-family: "Be Vietnam Pro", "Arial", sans-serif;
    line-height: 1.625rem;
    margin: auto;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    margin-block: 0.5rem;
}

a:hover {
    color: #000000;
}

h1 {
    font-size: 1.75rem;
    line-height: 2.2rem;
    text-align: center;
    margin-inline: 1rem;
    margin-block: 0;
    padding-block: 1.75rem;
}

h2 {
    text-transform: uppercase;
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
    margin-block: 0;
}

.standard-section {
    margin-top: 0.75rem;
    padding-bottom: 2.375rem;
    padding-inline: 0.625rem;
}
